@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree:400,400i,500,500i&display=swap');

@font-face {
  font-family: 'Bauhaus 93';
  src: url('../assets/fonts/Bauhaus\ 93\ Regular.ttf');
}

// Types
$font_primary: 'Bauhaus 93';
$font_secondary: 'Bai Jamjuree', sans-serif;

// Size
$font_header: 150px;
$font_display: 64px;
$font_title: 32px;
$font_generic: 18px;
$font_text: 14px;